In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [67]:
dataset = pd.read_csv('Consumo_cerveja.csv',decimal = ',')

In [68]:
dataset = dataset.rename(columns = {'Data':'Date', 'Temperatura Media (C)': 'Medium Temp', 'Temperatura Minima (C)': 'Minimum Temp',
                           'Temperatura Maxima (C)' : 'Maximum Temp', 'Precipitacao (mm)': 'Precipitation (mm)', 
                          'Final de Semana' : 'End of Week', 'Consumo de cerveja (litros)' : 'Beer Consumption (ltrs)'})

In [69]:
dataset = dataset.drop('Date', 1)

In [70]:
dataset.head()

,Medium Temp,Minimum Temp,Maximum Temp,Precipitation (mm),End of Week,Beer Consumption (ltrs)
0,27.30,23.9,32.5,0.0,0,25.461
1,27.02,24.5,33.5,0.0,0,28.972
2,24.82,22.4,29.9,0.0,1,30.814
3,23.98,21.5,28.6,1.2,1,29.799
4,23.82,21.0,28.3,0.0,0,28.9

In [55]:
#dataset['Medium Temp'] = dataset['Medium Temp'].replace(',', '.')

In [56]:
#dataset['Minimum Temp'] = dataset['Minimum Temp'].replace(',', '.')

In [57]:
#dataset['Maximum Temp'] = dataset['Maximum Temp'].replace(',', '.')

In [62]:
#dataset['Precipitation (mm)'] = dataset['Precipitation (mm)'].replace(',', '.')

In [71]:
X = dataset.iloc[:, :-1].values
print(X)

[[27.3  23.9  32.5   0.    0.  ]
 [27.02 24.5  33.5   0.    0.  ]
 [24.82 22.4  29.9   0.    1.  ]
 ...
 [21.68 20.3  24.1  10.3   0.  ]
 [21.38 19.3  22.4   6.3   0.  ]
 [24.76 20.2  29.    0.    0.  ]]

In [73]:
y = dataset.iloc[:, -1].values
print(y)

['25.461' '28.972' '30.814' '29.799' '28.9' '28.218' '29.732' '28.397'
 '24.886' '37.937' '36.254' '25.743' '26.99' '31.825' '25.724' '29.938'
 '37.69' '30.524' '29.265' '35.127' '29.13' '25.795' '21.784' '28.348'
 '31.088' '21.52' '29.972' '22.603' '22.696' '26.845' '27.03' '32.057'
 '24.097' '31.655' '24.738' '19.95' '22.821' '28.893' '29.926' '24.062'
 '21.137' '26.805' '26.389' '24.219' '30.231' '24.968' '25.343' '17.399'
 '21.392' '22.922' '24.567' '30.943' '30.825' '25.692' '26.959' '25.366'
 '22.784' '26.241' '26.467' '27.475' '28.749' '24.146' '22.988' '30.3'
 '22.654' '29.09' '24.619' '20.016' '23.042' '22.933' '22.409' '21.281'
 '28.844' '32.872' '20.903' '26.275' '20.167' '23.628' '24.213' '28.631'
 '25.855' '21.406' '21.617' '22.401' '27.989' '24.974' '29.76' '26.116'
 '25.85' '24.925' '21.979' '22.116' '24.867' '33.45' '32.713' '22.356'
 '21.004' '23.362' '20.298' '24.862' '30.505' '25.07' '22.62' '22.001'
 '23.469' '21.735' '21.593' '33.822' '28.028' '24.304' '31.108' '19.113'
 '23.198' '24.388' '27.42' '30.479' '21.838' '20.812' '19.761' '20.452'
 '17.939' '25.272' '28.049' '25.317' '21.826' '20.68' '19.143' '18.146'
 '25.489' '23.537' '16.956' '19.052' '17.287' '20.3' '20.538' '23.702'
 '28.411' '21.073' '24.215' '19.525' '20.786' '20.429' '27.25' '31.387'
 '26.075' '22.162' '24.258' '24.683' '21.245' '25.937' '26.081' '16.228'
 '20.106' '21.055' '22.772' '25.142' '31.129' '30.498' '26.15' '21.327'
 '22.008' '24.615' '22.375' '29.607' '32.983' '19.119' '21.029' '23.898'
 '24.534' '16.748' '23.055' '28.857' '23.022' '27.146' '17.241' '19.463'
 '21.86' '24.227' '27.594' '24.863' '20.161' '20.824' '19.727' '14.94'
 '24.632' '21.294' '18.448' '21.237' '19.849' '20.74' '25.698' '26.691'
 '33.298' '25.64' '23.937' '28.742' '21.748' '22.032' '24.827' '32.473'
 '20.62' '21.825' '14.343' '19.029' '21.104' '20.738' '25.233' '18.975'
 '19.64' '22.522' '24.227' '24.726' '32.467' '31.663' '25.867' '27.724'
 '22.039' '26.127' '26.58' '31.31' '33.517' '23.181' '24.183' '24.594'
 '22.61' '25.479' '29.621' '26.272' '22.541' '23.07' '26.021' '17.655'
 '23.243' '30.177' '27.518' '23.21' '21.092' '23.357' '17.888' '22.217'
 '31.681' '31.833' '28.441' '22.389' '20.681' '24.222' '19.345' '21.827'
 '23.566' '20.227' '17.075' '16.977' '21.525' '21.454' '21.814' '21.252'
 '20.464' '30.775' '25.343' '33.93' '26.311' '31.836' '34.695' '29.829'
 '26.362' '32.589' '30.345' '29.411' '29.637' '32.184' '17.731' '24.114'
 '28.034' '22.664' '27.488' '24.876' '24.862' '24.679' '22.304' '30.329'
 '33.182' '23.849' '33.33' '34.496' '26.249' '26.523' '26.793' '35.861'
 '27.387' '32.666' '22.199' '24' '27.871' '31.139' '23.065' '26.594'
 '27.657' '26.594' '28.084' '27.582' '24.862' '22.634' '31.649' '35.781'
 '24.429' '20.648' '22.741' '21.479' '23.134' '20.575' '24.33' '28.61'
 '28.456' '27.964' '29.569' '29.267' '28.647' '26.836' '29.386' '24.609'
 '26.964' '23.614' '22.96' '20.332' '30.392' '31.933' '21.662' '21.689'
 '25.119' '25.285' '28.979' '34.382' '30.617' '20.238' '24.529' '30.471'
 '28.405' '29.513' '32.451' '32.78' '23.375' '27.713' '27.137' '22.933'
 '30.74' '29.579' '29.188' '28.131' '28.617' '21.062' '24.337' '27.042'
 '32.536' '30.127' '24.834' '26.828' '26.468' '31.572' '26.308' '21.955'
 '32.307' '26.095' '22.309' '20.467' '22.446']

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [77]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [80]:
ypred = regressor.predict(X_test)

In [86]:
print(np.concatenate((ypred.reshape(len(ypred), 1),y_test.reshape(len(y_test),1)), 1))
#print(np.concatenate((y_pred.reshape(len(y_pred), 1), (y_test.reshape(len(y_test),1)), 1))

[[22.39403444045288 '21.593']
 [28.327747618019476 '33.93']
 [28.96398876288502 '24.968']
 [25.504075659721977 '29.972']
 [24.847390150338466 '24.213']
 [31.453900676993328 '29.188']
 [24.770659551327228 '21.979']
 [27.44086875090205 '28.61']
 [19.81742831378971 '22.217']
 [28.86969751087445 '29.732']
 [21.115762589184698 '17.939']
 [23.367004493480366 '20.429']
 [28.1973837280348 '29.829']
 [25.380978907912894 '26.793']
 [25.378491888949167 '27.582']
 [24.217492863337785 '24.227']
 [20.86999209035237 '23.065']
 [28.66975990511991 '25.07']
 [25.05658038238133 '23.181']
 [23.123915736700255 '20.786']
 [27.780311242564068 '27.25']
 [28.748369553884082 '32.473']
 [28.89813762789172 '27.475']
 [27.76070097749761 '31.139']
 [27.196585076291985 '31.649']
 [20.486010732841503 '21.814']
 [23.8646065211427 '23.042']
 [27.92418402261338 '30.617']
 [25.173299650919603 '24.388']
 [24.787857697646704 '26.691']
 [19.821410763977823 '21.826']
 [23.59210821186686 '22.62']
 [28.085405917746083 '29.938']
 [29.70222058030051 '28.893']
 [27.684208289831478 '26.959']
 [26.081696081663576 '28.218']
 [25.867123366166236 '28.749']
 [18.95411504069139 '17.287']
 [28.537988317299856 '26.362']
 [25.440156595978387 '22.654']
 [26.70629569661002 '25.233']
 [31.00817567387297 '35.781']
 [29.08059736802793 '32.467']
 [29.32628172983978 '26.311']
 [27.03992129403902 '29.13']
 [22.380494576451255 '20.648']
 [28.992349717693877 '31.663']
 [24.307141640146508 '25.867']
 [29.269258534856306 '31.681']
 [27.16170610173748 '29.09']
 [23.424702553901895 '27.146']
 [28.98326391438997 '33.517']
 [20.166836891547202 '23.21']
 [29.68412432717186 '32.983']
 [24.545149991173435 '24.867']
 [25.87150390612107 '25.366']
 [32.02439460471291 '30.825']
 [26.396308291326804 '23.702']
 [25.719252279897894 '24.925']
 [22.552709313362524 '20.167']
 [21.478005867296137 '21.662']
 [20.663115862312615 '17.731']
 [25.55600177116356 '28.397']
 [30.426446648376334 '30.505']
 [21.151967864126412 '21.689']
 [25.004403369502786 '27.137']
 [24.689866802951 '22.784']
 [29.012665929013593 '28.049']
 [30.014501471926955 '31.31']
 [23.738944457294313 '21.327']
 [24.803100411904015 '20.903']
 [25.152386082781366 '23.055']
 [27.10525119393877 '27.42']]